{% extends "base.html" %}
{% block title %}Metalab - Password change{% endblock %}

{% block hos_content %}

<div align="center">
<h1>Password change</h1>

<p>Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly.</p>
<dl>
<form action="" method="post">
    {% if form.old_password.errors %}
    <dt>Error:</dt><dd>{{ form.old_password.html_error_list }}</dd>
    {% endif %}
    <dt><label for="id_old_password">Old password:</label></dt>
    <dd>{{ form.old_password }}</dd>
    {% if form.new_password1.errors %}<dt>Error:</dt><dd>{{ form.new_password1.html_error_list }}</dd>{% endif %}
    <dt><label for="id_new_password1">New password:</label></dt><dd>{{ form.new_password1 }}</dd>
    {% if form.new_password2.errors %}<dt>Error:</dt><dd>{{ form.new_password2.html_error_list }}</dd>{% endif %}
    <dt><label for="id_new_password2">Confirm password:</label></dt><dd>{{ form.new_password2 }}</dd>
    <dt>Submit</dt><dd><input type="submit" value="Change my password" /></dd>
</form>
</dl>
</div>
{% endblock %}
