{% extends "base.html" %}

{% block hos_content %}
    <p>
        <h1>Payment SEPA-DD Export</h1>
        <form method="post" action="/member/bankexport/">
            {% csrf_token %}
            <button type="submit">Create Payments and export</button>
        </form>
    </p>
{% comment %}
    <p>
        <h1>Erste Bank JSON import</h1>
        <form method="post" action="/member/bankimport/" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file" placeholder="Picture" name="erstejson" /><br />
            <button type="submit">Import JSON</button>
        </form>
    </p>
{% endcomment %}
{% endblock %}
