/* styling */
#calendar-content {
	margin-bottom: 0.5em;
}

#calendar-content ul {
	border: 1px solid #ddd;
	box-sizing: border-box;
}

#calendar-content li {
	display: block;
}

#calendar-content li {
  padding: 1px 1px 0 1px;
}

#calendar-content li p {
	margin: 0;
	padding: 0.5em 1em;
}
/*
#calendar-content li .odd {
	background: #C2C3F2;
}
*/
#calendar-content li .event {
	background: #C8D8FF;
}

#calendar-content li .past_event {
	background: #e3e3e3;
}

#calendar-content .event_date, p.event .event_date {
	font-weight: bold;
	border-right: 1px solid #666;
	padding-right: 5px;
	margin-right: 5px;
}

/* action */
.invisible {
    display: none;
}

.visible {
    display: block;
}

@media (pointer: fine) {
	.event .hoverHidden {
		opacity: 0;
	}
	.event:hover .hoverHidden {
		opacity: 0.6;
	}

	.event:hover .hoverHidden:hover {
		opacity: 1;
	}
}

/* new stuff */
table.month {
    border-collapse: collapse;
		width: 100%;
}

table.month th {
    text-align: center;
    font-weight: bold;
    background-color: #c0c0c0;
    border: 1px solid white;
}

table.month th.month {
    background-color: inherit;
    font-size: 20pt;
    padding: 4px 0;
    color: #aaa;
    text-align: center;
}

table.month td {
    border: 1px solid white;
    background-color: #ddd;
    width: 14%;
    height: 5em;
    color: #999;
		hyphens: auto;
}

table.month td:nth-last-child(-n+2) {
    background-color: #d0d0d0;
}

table.month td.noday {
    background-color: inherit;
}

table.month td li {
    margin-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px #d0d0d0 solid;
}

table.month td:nth-last-child(-n+2) li {
    border-bottom: 1px #c0c0c0 solid;
}

table.month td li:last-child {
    border-bottom-width: 0px;
    margin-bottom: 0px;
}

table.month td.today {
    background-color: #c0c0ff;
    color:white;
    font-weight:bold;
}

table.month .day-nr {
		text-align: right;
		line-height: 1em;
}
table.month .event-time {
	  font-weight: bold;
}

.event .event-name::before {
	display: inline;
	content: " ";
}

.event .event-location {
	display: none;
}

.event .event-location::before {
	content: " | ";
}

.event:hover .event-location {
	display: inline;
}

#calendar-year-list {
	text-align: right;
}

/* edit link */
.event > .edit {
	display: inline-block;
	float: right;
	background: #5D5EA2;
	color: #fff;
	width: 10px;
	text-align: center;
	border-radius: 2px;
	font-size: 10px;
	line-height: 1;
padding: 2px;
}
@media (pointer: fine) {
	.event > .edit {
		display: none;
	}
	.event:hover > .edit {
		display: inline-block;
	}
}

/* edit form */
.edit-form {
	max-width: 26em;
	background-color: #f6f6f6;
	padding: 1em;
}

p.datetime {
    margin: 0;
}
.calendarbox  {
	position: relative;
}

.calendarnav-next, .calendarnav-previous {
	position: absolute;
	top: 6px;
	background: #fff;
	width: 10px;
	height: 10px;
	font-size: 10px;
	font-weight: bold;
	text-align: center;
	line-height: 1;
	border-radius: 50%;
	padding: 3px;
}
.calendarnav-previous {
	left:6px;
}
.calendarnav-next {
	right:6px;
}

.calendarbox caption {
	text-align: center;
	background: #4F5C7F;
	color: #fff;
	font-weight: bold;
	margin: 0 0 5px;
	padding: 8px 30px;
	line-height: 1;
}
.calendarbox th {
	color: #999;
}
.calendarbox th, .calendarbox td a {
	padding: 4px 8px;
	text-align: right;
}
.calendarbox td a {
	display: block;
}
.calendarbox td {
	padding: 0;
}
.calendarbox .calendar-shortcuts {
    text-align: center;
    margin: 10px;
}
.calendar-cancel {
    text-align: right;
    margin: 10px;
}

.clockbox, .calendarbox {
	background: #fff;
	box-shadow: 0 2px 5px rgba(0,0,0,.3)
}

.clockbox h2 {
	text-align: center;
	background: #4F5C7F;
	color: #fff;
	font-weight: bold;
	margin: 0 0 5px;
	padding: 8px 30px;
	line-height: 1;
}

.clockbox .timelist a {
	display: block;
	padding: 4px 10px;
}

/* Calender TimePicker and DatePicker Widgets */
.datetimeshortcuts .clock-icon, .datetimeshortcuts .date-icon {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	height: 16px;
	width: 16px;
	overflow: hidden;
}

.datetimeshortcuts .clock-icon {
	background: url(../admin/img/icon-clock.svg) 0 0 no-repeat;
}

.datetimeshortcuts a:focus .clock-icon,
.datetimeshortcuts a:hover .clock-icon {
	background-position: 0 -16px;
}

.datetimeshortcuts .date-icon {
	background: url(../admin/img/icon-calendar.svg) 0 0 no-repeat;
	top: -1px;
}

.datetimeshortcuts a:focus .date-icon,
.datetimeshortcuts a:hover .date-icon {
	background-position: 0 -16px;
}

@media screen and (max-width: 800px)  {

	table.month {
	    margin: 0 -2%;
			width: 104%;
	}

	table.month .event-time {
		  display: block;
		  font-size: .9em;
	}
	table.month .event {
			font-size: .9em;
		  word-wrap: break-word;
			hyphens: auto;
			line-height: 1em;
			word-break: break-all;
			overflow-wrap: break-word;
			text-overflow: ellipsis;
			overflow: hidden;
			width: 100%;
			word-wrap: normal;
	}

}

.form-buttons {
	display:flex;
	align-items: center;
}

.form-buttons > * {
	flex-grow: 0;
	margin-right: 8px;
}

.form-buttons > .status-indicator {
	transition: background-color .5s;
	text-align: center;
	font-weight: bold;
	flex-grow: 1;
	margin-left: 8px;
}

.status-indicator.saved {
	background-color: #8f8;
}