/* -------------------------
	    Metalab CSS

	    Version 1.0
 ---------------------------*/

#container {
	float: left;
	width: 100%;
	background: #fff;
	border: none;
}

#page {
	 width: 900px;
	 margin: 0 auto 2em auto;
}

/* =header */
#header {
	width: 100%;
	float: left;
	margin-bottom: 1em;
    background-color: white;
}

#logo {
	display: inline;
	float: left;
	margin-top: 0.7em;
}

#logo a {
	line-height: 1em;
	border: none;
}

#logo a:hover {
	background: none;
}

#header-nav {
    margin-left: 280px;
}

#header-nav li {
	float: left;
}

#header-nav a {
	float: left;
	color: #fff;
	background: #4F5C7F;
	margin:  0 3px 6px;
	padding: 0.5em 0.7em;
}

#header-nav a:hover {
	background: #7888AF;
}

#login {
	float: right;
	margin: 0.7em 0 0 1em;

}

#presence_closed{
	float: right;
	margin-top: 0.7em;
}

#presence_open {
	float: right;
	margin-top: 0.7em;
}

/* =main */
#main {
	float: left;
	width: 100%;
}

#main #column_1 {
	width: 333px;
	display: inline; /* fixes IE double margin issue */
	float: left;
}

#main #column_2 {
	width: 518px;
	float: right;
}

/* =project */
#project_list {
	float: left;
	width: 249px;
}

#recent_changes {
	float: right;
	width: 249px;
}

/* =calendar */
#calendar {
	border-bottom: 1px solid #e7e7e7;
	margin-bottom: 2em;
	padding-bottom: 1em;
}

/* =members */
#members {
	float: left;
	width: 100%;
	height: 8em;
	margin-bottom: 1em;
	padding-bottom: 1em;
}

#introduction{
	float:left;
	height: 3em;
	border-bottom: 1px solid #e7e7e7;
	margin-bottom: 2em;
	padding-bottom: 1em;
}

#announcement{
	float:left;
	border-left: 4px solid red;
	margin-bottom: 2em;
	padding-bottom: 1em;
	padding: 1.5em 1em 1.5em 1.5em;
	background: transparent;
	font-weight: bold;
}

#announcement a{
	font-weight: bold;
	font-size: 130%;
	}

#announcement small{
	font-weight: bold;
	font-size: 80%;
	}

#extrasmall a{
	font-weight: bold;
	font-size: 80%;
	}

.member_pics {
	float: left;
	margin-bottom: 16px;
	margin-right: -5px;
}

.member_pics .member, .member_pics .become-member {
	float: left;
	display: block;
	margin: 0 5px 5px 0;
  width: 60px;
  height: 60px;
	box-sizing: border-box;
}

.member_pics .member {
	background-size: cover;
	background-position: center;
	border: 1px solid #ddd;
	line-height: 1em;
}

.member_pics .become-member {
	background: #4f5c7f;
	border: 1px solid #4f5c7f;
	color: #fff;
	text-align: center;
	font-weight: bold;
	line-height: 1.2;
	font-size: 10px;
	text-transform: uppercase;
	transition: all .3s;
}
.member_pics .become-member-text:before {
	content: "++";
	font-weight: normal;
	display: block;
	font-size: 30px;
	line-height: 1em;
	color: rgba(255,255,255,.6);
	transition: all .3s;
}
.member_pics .become-member-text:hover:before {
    color: rgba(255,255,255,1);
}



.member_pics .last {
	margin-right: 0;
}

/* =footer */
#footer {
	clear: both;
	border-top: 1px solid #e7e7e7;
	padding: 0.5em 1em;
}

#content {
    clear: both;
}

.metasense_image {
	margin-bottom:-4px;
}

#openlab {
    margin-bottom: 1.5em;
    padding-left: 0.5em;
}



/* small screen stuff */
@media screen and (max-width: 920px) {

	#page {
		width: 96%;
		margin: 0 2%;
	}


	#main #column_1,
	#main #column_2,
	#calendar-content li
	{
		width: 100% !important;
		box-sizing:border-box;
		display: block;
		float: none;
	}

	#project_list {
		width: 49%;
		margin-right: 2%;
	}

	#calendar,
	#recent_changes
	{
		width: 49%;
		float:left;
	}

	#openlab {
		padding: 0;
	}

}


/* mobile stuff */
@media screen and (max-width: 600px) {

	#calendar,
	#project_list,
	#recent_changes
	{
		width: 100% !important;
		box-sizing:border-box;
		display: block;
		float: none;
	}


	/* burger button for drop down navigation */
	ul#header-nav:before {
		content: "\2630";
		padding: 1em;
		background: #4F5C7F;
		color: #fff;
		position: absolute;
		top: 0;
		right: 0;
		width: 1em;
		height: 1em;
		line-height: 1em;
		font-size: 1.3em;
	}
	#header-nav {
		display: inline;
		position: absolute;
		z-index: 101;
		top: 0;
		padding-top: 3.8em;
		right: 0;
		margin: 0;
	}

	#header-nav > li {
		float: none;
		display:none;
		border-bottom: 2px solid #42495D;
		width: 12em;
	}
	#header-nav:hover > li, #header-nav:active > li {
		display: block;
		width: 12em;
	}

	#header-nav a {
		float: none;
		display: block;
		color: #fff;
		background: #4F5C7F;
		margin: 0;
		padding: 0.7em 1em;
	}

	/* move login link next to menu button*/
	#login {
	    margin: 1.2em 5em 0 0;
	}

}
