ul.user-list-pictures {
    max-width: 885px;
    margin-left: auto;
    margin-right: auto;
}

ul.user-list-pictures li {
    width: 220px;
    height: 220px;
    margin: 0;
    padding: 0;
    border: 0;
    float: left;
    border: 1px solid grey;
    border-left: none;
    border-top: none
}
ul.user-list-pictures li {
    border: 1px solid grey;
    text-align: center;
    margin: 0 -1px -1px 0
}

h2 {
    clear: both;
    padding-top: 2em;
}

td.changepwd {
    text-align: center;
}

td.graphbar {
    vertical-align: middle;
}

img.thumb_with_text { max-width:96px; max-height:96px; }

#user_details {
    width: 100%;
    max-width: 700px;
}

#user_avatar {
	float:left;
	margin: 0 1em 1em 0;
}

