Django~=4.2.10
Pillow
icalendar~=5.0.11
Unipath
django-extensions
python-dateutil
freezegun
feedparser
mysqlclient
channels
websockets
sepaxml
daphne
requests
easy-thumbnails
beautifulsoup4==4.12.3
matrix-commander==7.6.1
django-import-export==4.3.14
