/* styling */
#calendar-content {
	margin-bottom: 0.5em;
}

#calendar-content table {
    border-collapse: collapse;
}

#calendar-content table th, #calendar-content table td {
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 6px;
    padding-bottom: 6px;
}

#calendar-content table th {
    padding-top: 15px;
    text-align: right;
    font-weight: bold;
}

#calendar-content table .event:nth-child(even) td {
    background-color: #e7e7e7;
}

#calendar-content table .event:nth-child(odd) td {
    background-color: #f0f0f0;
}

#calendar-content table .past_event td {
    background-color: #f7f7f7;
}

#calendar-content .detail_link {
    font-size: small;
    color: #666;
}

#calendar-content .detail_link a {
    color: #666;
}

#calendar-content small {
    color: #666;
}

#calendar-content table th {
    white-space: nowrap;
}

#calendar-content table tr {
    border-bottom: 1px #ccc solid;
}

#calendar-content table tr.event {
    border-left: 1px #ccc solid;
    border-right: 1px #ccc solid;
}

#calendar-content table tr.past_event {
    border: 1px #f0f0f0 solid;
}

#calendar-content .event_date, p.event .event_date {
	font-weight: bold;
	padding-right: 5px;
	margin-right: 5px;
}

/* action */
.invisible {
    display: none;
}

.visible {
    display: block;
}

.event .hoverHidden {
    opacity: 0;
}
.event:hover .hoverHidden {
    opacity: 0.6;
}

.event:hover .hoverHidden:hover {
    opacity: 1;
}


/* new stuff */


/* Hide the <hr> at the end of the generated calendar */
.metalab_month_calendar hr {
    display: none;
}

h2.calendar {
    text-align: center;
    font-size: 15pt;
    padding: 10px;
    margin: 0px;
}

h2.calendar a {
    padding: 3px;
}

h2.calendar strong {
    color: black;
}

h2.calendar .monthdiff-1 {
    font-size: 13pt;
}

h2.calendar .monthdiff-2 {
    font-size: 11pt;
}

table.month {
    border-collapse: collapse;
    width: 100%;
}

table.month th {
    text-align: center;
    font-weight: bold;
    padding: 3px;
    background-color: #c0c0c0;
    border: 1px solid white;
}

table.month th.month {
    display: none;
}

table.month td {
    border: 1px solid white;
    background-color: #ddd;
    width: 14%;
    height: 110px;
    color: #999;
}

table.month td:nth-last-child(-n+2) {
    background-color: #d0d0d0;
}

table.month td.noday {
    background-color: inherit;
}

table.month td li {
    margin-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px #d0d0d0 solid;
}

table.month td:nth-last-child(-n+2) li {
    border-bottom: 1px #c0c0c0 solid;
}

table.month td li:last-child {
    border-bottom-width: 0px;
    margin-bottom: 0px;
}

table.month td.today {
    background-color: #b0b0b0;
    color: black;
}

table.month td.today a {
    color: #1D1E62;
}

