ul.user-list-pictures {
    border-top: 1px solid grey;
    max-width: 885px;
    margin-left: auto;
    margin-right: auto;
}

ul.user-list-pictures li {
    width: 220px;
    height: 220px;
    margin: 0;
    padding: 0;
    border: 0;
    float: left;
    border: 1px solid grey;
    border-left: none;
    border-top: none
}
ul.user-list-pictures li.image-col-one {
    border-left: 1px solid grey;
    clear: left;
}
ul.user-list-pictures li {
    text-align: center;
}

h2 {
    clear: both;
    padding-top: 2em;
}

td.changepwd {
    text-align: center;
}
