{% extends "base.html" %}

{% load i18n %}



{% block add_css %}

    <link rel="stylesheet" type="text/css" href="{% block stylesheet %}{% load adminmedia %}{% admin_media_prefix %}css/base.css{% endblock %}" />    
    {% if custom_style %}
	<link href="/site_media/stylesheets/{{custom_style}}_admin.css" media="screen" rel="Stylesheet" type="text/css" />
    {% endif %}
{% endblock add_css %}

{% block hos_content %}

    {% if not is_popup %}
    <!-- Header -->
    <div id="header">
        <div id="branding">
	  <hr />
          <a href="/admin/members/">manage members</a> | <a href="/admin/calendar"> manage calendar </a> | <a href="/admin/doc/">Documentation </a>
	  <hr />
        </div>
    </div>
    <!-- END Header -->
    {% block breadcrumbs %}<div class="breadcrumbs"><a href="/">{% trans 'Home' %}</a>{% if title %} &rsaquo; {{ title|escape }}{% endif %}</div>{% endblock %}
    {% endif %}

        {% if messages %}
        <ul class="messagelist">{% for message in messages %}<li>{{ message|escape }}</li>{% endfor %}</ul>
        {% endif %}

    <!-- Content -->
    <div id="content" class="{% block coltype %}colM{% endblock %}">
        {% block pretitle %}{% endblock %}
        {% block content_title %}{% if title %}<h1>{{ title|escape }}</h1>{% endif %}{% endblock %}
        {% block content %}
        {% block object-tools %}{% endblock %}
        {{ content }}
        {% endblock %}
        {% block sidebar %}{% endblock %}
        <br class="clear" />
    </div>
    <!-- END Content -->
{% endblock hos_content %}
