{% load admin_static %}<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>{% block title %}{{HOS_NAME}}{% endblock %}</title>

    <meta name="viewport" content="initial-scale=1">
    <script src="{{ STATIC_URL }}javascripts/prototype.js" type="text/javascript"></script>
    <script type="text/javascript">window.__admin_media_prefix__ = "{% filter escapejs %}{% static "admin/" %}{% endfilter %}";</script>

    <link href="{{ STATIC_URL }}stylesheets/projects.css" media="screen" rel="Stylesheet" type="text/css" />

    <link href="{{ STATIC_URL }}stylesheets/base.css" media="screen" rel="Stylesheet" type="text/css" />
    <link href="{{ STATIC_URL }}stylesheets/members.css" media="screen" rel="Stylesheet" type="text/css" />
    <link href="{{ STATIC_URL }}stylesheets/cal.css" media="screen" rel="Stylesheet" type="text/css" />

    <script src="{{ STATIC_URL }}javascripts/ml-ajaxtools.js" type="text/javascript"></script>
    <script src="{% url 'admin:jsi18n' %}" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}admin/js/core.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}admin/js/jquery.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}admin/js/jquery.init.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}admin/js/actions.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}admin/js/calendar.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}admin/js/admin/DateTimeShortcuts.js" type="text/javascript"></script>

    <link rel="alternate" type="application/rss+xml" title="RSS" href="/feeds/events" />

    {% block add_css %}
    {% endblock %}
    {% block add_js %}
    {% endblock %}

</head>
<body>
<div id="container">
<div id="page">
    <div id="main">
    <div class="header">
        <div id="logo">
            <a href="/" title="{{HOS_NAME}}"><img src="{{ STATIC_URL }}images/logo.png" width="180" height="62" alt="metalab Logo" /></a>
        </div>
        <ul id="header-nav">
            <li><a href="/wiki/" title="Wiki">Wiki</a></li>
            <li><a href="/wiki/Info_Folder" title="About">About</a></li>
            <li><a href="/wiki/Lage" title="Anreise">Location</a></li>
            <li><a href="/wiki/Sponsoren" title="Sponsoren">Sponsoren</a></li>
            <li><a href="/wiki/Impressum" title="Impressum">Impressum</a></li>
            <li><a href="/wiki/English" title="English version"><img src="{{ STATIC_URL }}images/Flag_UK.png" style="vertical-align: top;"/> English</a></li>
        </ul>

        <div id="login">
            {% if not user.is_authenticated %}
                <a href="{% url 'login' %}">Login</a>
            {% else %}Hi <a href="/member/{{ user }}/">{{ user }}</a>!
                {% if user.is_superuser %}| <a href="/admin/">Manage</a>{% endif %}
                | <a href="{% url 'logout' %}">Logout</a>
            {% endif %}
        </div>
    </div>

    <div id="content">
        {% block hos_content %}
        {% endblock %}
    </div>

    <div id="footer">
        powered by <a href="https://github.com/Metalab/mos/">Metalab OS</a> |
        <a href="/wiki/Datenschutzerklärung" title="Datenschutzerklärung">Datenschutzerklärung</a>
    </div>
</div>
</div>
</div>
</body>
</html>
