<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Metalab: der Hackspace im Herzen Wiens</title>
    <link href="{{ STATIC_URL }}stylesheets/style.css" media="screen" rel="Stylesheet" type="text/css" />
    <link href="{{ STATIC_URL }}stylesheets/leaflet.css" media="screen" rel="Stylesheet" type="text/css" />
    <script src="{{ STATIC_URL }}javascripts/prototype.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}javascripts/leaflet.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}javascripts/ml-ajaxtools.js" type="text/javascript"></script>
    <!-- <script src="{{ STATIC_URL }}admin/js/core.js" type="text/javascript"></script> -->
    <!-- <script src="{{ STATIC_URL }}admin/js/jquery.js" type="text/javascript"></script> -->
    <!-- <script src="{{ STATIC_URL }}admin/js/jquery.init.js" type="text/javascript"></script> -->
    <!-- <script src="{{ STATIC_URL }}admin/js/actions.js" type="text/javascript"></script> -->
    <script src="{{ STATIC_URL }}admin/js/calendar.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}admin/js/admin/DateTimeShortcuts.js" type="text/javascript"></script>
  </head>
  <body>
    <nav class="titlebar">      
		<ul class="nav">
			<li><a href="/wiki">Wiki</a></li>
			<li><a href="/wiki">Info</a></li>
			<!--<ul>
				<li><a>about</a></li>
				<li><a>location</a></li>
				<li><a>calendar</a></li>
			</ul>-->
			<li><a href="http://eingang.metalab.at" title="Door-Status">🚪-Status</a></li>
			<li><a href="/wiki/Sponsoren" title="Sponsoren">Sponsoren</a></li>
			<li><a href="" title="">Styles</a></li>
			<!--<ul>
				<li><a>wireframe</a></li>
				<li><a>colors</a></li>
				<li><a>uwu</a></li>
			</ul>-->
		</ul>
    </nav>
    <div class="content">
		<section class="info">
			<div class="intro">
				<h2>Metalab: der Hackspace im Herzen Wiens</h2>
			</div>
		</section>
		<section class="info">
			<div class="intro">
			  <p>
				<a href="https://metalab.at/wiki/English" class="english">In English</a>
				In der Sphäre des Metalabs ist es möglich deiner Neugier nachzugehen, ungewöhnliche Ideen zu verwirklichen oder sich einfach mit anderen zu treffen und auszutauschen. Das Metalab versteht sich als offener Raum, der eine Atmosphäre bietet, in der es allen möglich sein sollte, sich frei zu entfalten.
			  </p>
			  <p>
				Das Metalab ist eine unabhängig und gemeinschaftlich betriebene, sozial-technische Infrastruktur im Zentrum von Wien. Auf über 200 m² bietet es Raum für Wissensaustausch, Werkstätten und Veranstaltungen. Es dient als sozialer Treffpunkt für individuelle Köpfe jeden Alters und unterschiedlichen Gruppierungen für technisch-kreative Projekte bis zu zivilgesellschaftliche Initiativen. Im Metalab werden Wissen und Ressourcen unter den Mitglieder und Besucher*innen geteilt.
			  </p>
			  <p>
				Interessiert? Dann komm vorbei und besuche eine unserer eintrittsfreien Veranstaltungen und Workshops, reparieren und erschaffe Neues in den Werkstätten oder sei einfach gemeinsam mit anderen (un-)produktiv. Gerne geben wir auch eine Tour durch unsere Räumlichkeiten. Das Metalab hat immer offen, wenn mindestens ein Mitglied anwesend ist. Als Indikator dafür dient der Türstatus, ansonsten schreib uns an Core.png. 
			  </p>
			  <div class="main-buttons">
				<a href="#location">Schau vorbei!</a>
				<a href="https://metalab.at/wiki/Info_Folder">Mehr über das Metalab.</a>
			  </div>
		</section>
		
		<section class="events">
		  <h3>
			<a href="/calendar" title="Veranstaltungen">Events</a>
		  </h3>
				{% include "cal/new_calendar.inc" %}
		</section>
		<section id="location">
		  <div id="map"></div>
		</section>
		<section>
			<h3>
				User Groups
			</h3>
		</section>
		<section>
			<h3>
				Räume
			</h3>
		
		</section>
		<section id="projects">
		  <div class="projects-inner">
			<h2>Projekte</h2>
			<p>
			  Im Metalab passiert ständig etwas! Hier stellen wir dir ein
			  paar der laufenden Projekte vor, an denen Leute im Metalab
			  werkeln.
			</p>
			<div class="project-list">
				{% include "projects/overview.inc" %}
			</div>
		  </div>
		</section>
		<section>
			<div id="recent_changes">
				{% include "rss/recentchanges.inc" %}
			</div>
		</section>
		<section>
			<h2>
				Tools
			</h2>
			<img src="/static/images/test/lazzzzzor.png">
			<img src="/static/images/test/drehbank.png">
			<img src="/static/images/test/CNC.png">
			<img src="/static/images/test/3Dprinter.png">

		</section>
		<section id="people">
		  <div class="people-inner">
			<h2>Menschen</h2>
			<p>
			  Das Metalab wird von seinen Mitglieder gemeinsam erhalten und gestaltet.
			</p>
			<div class="people-list">
			  {% for member in randommembers %}
				{% if member.contactinfo.get_wikilink %}
				  <a href="{{ member.contactinfo.get_wikilink }}">
					<img src="{{ member.contactinfo.image.url }}" alt="{{ member.username }}" />
				  </a>
				{% else %}
				  <img src="{{ member.contactinfo.image.url }}" alt="{{ member.username }}" />
				{% endif %}
				{% endfor %}
			  <a href="https://metalab.at/wiki/Benutzer:jk">
				<img src="https://metalab.at/media/userpics/jk.jpg" />
			  </a>
			  <a href="https://metalab.at/wiki/Benutzer:Emi">
				<img src="https://metalab.at/media/userpics/emi.png" />
			  </a>
			  <a href="https://metalab.at/wiki/Benutzer:A">
				<img src="https://metalab.at/media/userpics/A.GIF" />
			  </a>
			  <a href="https://metalab.at/wiki/Benutzer:Cygenb0ck">
				<img src="https://metalab.at/media/userpics/cygenb0ck_thumb.jpg">
			  </a>
			  <a href="https://metalab.at/wiki/Benutzer:Tkolar">
				<img src="https://metalab.at/media/userpics/tkolar.png">
			  </a>
			  <a href="/member/" class="all-members">
				<p>mehr…</p>
			  </a>
			  <a href="https://metalab.at/wiki/Mitglied_werden" class="become-member">
				<h2>+</h2>
				<p>Mitglied werden</p>
			  </a>
			</div>
		  </div>
		</section>

	</div>
    <footer>
      Made with ♥ at Metalab.
      Runs on <a href="https://github.com/metalab/mos">Metalab OS</a>
      (<a href="/member/login/">Login</a>).
      <a href="/wiki/Datenschutzerklärung" title="Datenschutzerklärung">Datenschutzerklärung</a>
      <a href="https://metalab.at/wiki/Impressum">Impressum</a>.
    </footer>
    <script>
      var calendarUpdateURL = '/calendar/ajax/list/5/';
      
      var metalab_location = [48.20941, 16.35610];
      var attributionText = 'Map tiles by <a href="http://stamen.com">Stamen Design</a>, <a href="http://creativecommons.org/licenses/by/3.0">CC BY 3.0</a> &mdash; Map data &copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>';
      var layerOptions = {
          attribution: attributionText,
          subdomains: 'abcd',
          minZoom: 17,
          maxZoom: 17,
          ext: 'png'
      };
      var tilesUri = 'https://stamen-tiles-{s}.a.ssl.fastly.net/toner/{z}/{x}/{y}.{ext}';
      var stamen   = L.tileLayer(tilesUri, layerOptions);
      
      var map = new L.Map('map', {
        center: metalab_location,
        zoom: 17,
        minZoom: 10,
        maxZoom: 17,
        zoomControl: true,
        touchZoom: false,
        doubleClickZoom: false,
        scrollWheelZoom: false,
        boxZoom: false,
        keyboard: false,
        tap: false,
        dragging: false
      });
      map.addLayer(stamen);

      var popup = new L.Popup({
        closeButton: false,
        closeOnClick: false,
        className: 'leaflet-popup-location'
      });

      popup.setLatLng(metalab_location);
      popup.setContent('<h3>Metalab</h3><p>Rathausstraße 6, 1010 Wien</p>')
      popup.openOn(map);

    </script>
  </body>
</html>
