{% extends "base.html" %}

{% block add_css %}
    <link href="/site_media/stylesheets/projects.css" media="screen" rel="Stylesheet" type="text/css" />
    <link href="/site_media/stylesheets/members.css" media="screen" rel="Stylesheet" type="text/css" />
    <link href="/site_media/stylesheets/cal.css" media="screen" rel="Stylesheet" type="text/css" />
{% endblock %}

{% block hos_content %}
  {% if not gallery and not members and introduction_text %}
	<div id="introduction_text">
	           Introduction
	</div>
  {% endif %}

  <div id="column_1">
	
     {% if gallery %}	
	<div id="gallery">
		<h1>Pics vom {{HOS_NAME}} </h1>
		<div id="hos_gallery">
			{% for image in images %}
			<div class="pic {% cycle ,last %}">
				<a href="{{image.href}}"><img src="{{ image.src }}" width="160" height="113" alt=" " /></a>
			</div>
			{% endfor %}
		</div>
	</div>
     {% endif %}

     {% if calendar %}
     	<div id="calendar">
      	    <h1><a href="/calendar/" title="Veranstaltungen">Events</a></h1>
		{% include "cal/calendar.inc" %}
        </div>
    {% endif %}

    {% if openlab %}
    	<div id="openlab">
          foo 
    	</div>
    {% endif %}
  </div>

  <div id="column_2">
	
     {% if members %}	
	<div id="members">
          <h1><a href="/member/" title="Member List">Members</a></h1>
          <div class="member_pics">
            {% for member in randommembers %}
            {% if member.contactinfo_set.all.0.get_wikilink %}
		<a class="member" href="{{ member.contactinfo_set.all.0.get_wikilink }}">{% endif %}<img src="{{ member.contactinfo_set.all.0.image.url }}"  width="54" height="54" alt="{{ member.username }}" />{% if member.contactinfo_set.all.0.get_wikilink %}</a>{% endif %}
            {% endfor %}
	  </div>
	</div>
     {% endif %}

     {% if  gallery and  members and introduction_text %}

	<div id="introduction_text">
	   Introduction
	</div>
     {% endif %}

     {% if projects %}
	<div id="project_list">
		<h1><a href="/project/" title="Projekte">Current Projects</a></h1>
		{% include "projects/overview.inc" %}
    	</div>
     {% endif %}

     {% if recent_changes %}
	   <div  id="recent_changes">
		{% include "rss/recentchanges.inc" %}
	  </div>
     {% endif %}

 </div>

 <script type="text/javascript">
    var calendarUpdateURL = '/calendar/ajax/list/5/';
</script>

{% endblock %}
