{% extends "base.html" %}

{% block add_css %}
    <link href="{{ STATIC_URL }}stylesheets/members.css" media="screen" rel="Stylesheet" type="text/css" />
{% endblock %}

{{error_form|default_if_none:""}}
{{error_type|default_if_none:""}}

{% block hos_content %}
	<h1>User profile: {{ item }}</h1>
	{% if user.is_superuser %}
		{% include 'members/members_details.inc' %}
	{% else %}
		{% ifequal user.id item.id %}
			{% include 'members/members_details.inc' %}
		{% else %}
			{% include 'members/members_details_error.inc' %}
		{% endifequal %}
	{% endif %}
{% endblock %}
