{% extends "base.html" %}

{% block title %}{{ HOS_NAME }} - Calendar for {{year}}{% endblock %}

{% block add_css %}
    <link href="/site_media/stylesheets/cal.css" media="screen" rel="Stylesheet" type="text/css" />
{% endblock %}

{% block hos_content %}
{% include 'cal/overview_event_navigation.inc'  %}


{% if type %}
   <p>  {{ type }}
     {% if title %}
       / <b>{{ title }}</b>  /
     {% endif %}
   
{% endif %}
{% if description %}
   {{ description.description }}</p>
{% endif %}

<div style="text-align: center; padding: 5px;">
    <strong>{{ year }}:</strong>
{% for date in date_list %}
    {% if not forloop.first %}&middot;{% endif %}
    <a href="/calendar/{{date.year}}/{{date.month|stringformat:"02d"}}/">
      {{date|date:"F"}}</a>
{% endfor %}</ul>
</div>


{% with object_list as latestevents %}

    {% if type %}
      {% with "True" as edit_disabled %}
        {% with "True" as all_events %}   {# variable for switching more link ind calendar.inc #}
	  {% include "cal/calendar.inc" %}
        {% endwith %}
      {% endwith %}
    {% else %}
       {% with "True" as all_events %}   {# variable for switching more link ind calendar.inc #}
	  {% include "cal/calendar.inc" %}
        {% endwith %}
    {% endif %}
{% endwith %}

<script type="text/javascript">
    var calendarUpdateURL = '/calendar/ajax/list/';
</script>
{% endblock %}
